<h1>Profile for <%= @user.username %></h1><h3><%= @user.email %></h3>
<%= link_to "Update Account", edit_user_path(@user) %> |
<%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to say good-bye forever?"} %>

